<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Delete User</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Create User</a>
    </div>
    <div class="form">
      <form action="/delete-user" method="post">
        <fieldset>
          <legend>Delete User</legend>
          <br />
          <input hidden value="<%= user?.id%>" name="id" type="text" />

          <div class="input-group">
            <label for="">Are you sure delete Email</label>
            <input value="<%= user?.email%>" name="email" type="text" />
          </div>
          <br />
          <div class="button">
            <button>Confirm</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
