<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <link rel="stylesheet" href="../css/style.css" />
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid rgb(206, 204, 200);
    }
    tr:hover {
      background-color: #ccc;
    }
  </style>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">Create User</a>
    </div>
    <div>
      <h1>List User</h1>
    </div>
    <div>
      <table>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <th>Actions</th>
        </tr>
        <% listUser.map(item=> {%>
        <tr>
          <td><%=item.id %></td>
          <td><%=item.email %></td>
          <td><%=item.name %></td>
          <td><%=item.city %></td>
          <td>
            <% const pathEdit = `/edit?id=${item.id}%` %>
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
